.column-ThreadList {
  padding: 10px;
}

.list-container {

  .list-rows {
    background: none;
  }

  .list-item:hover {
    background: @background-primary-accent  !important;
  }

  .list-item.focused {

    background: @background-primary-accent;

    .participants-wrapper {
      font-weight: bold;
      color: @accent-primary-unfocus;
    }
  }
}

body.is-blurred .list-container .list-item.focused {
  background: @background-primary-unfocus;
}

.thread-list .scroll-region {
  overflow: hidden;
  z-index: 0;
}

.thread-list .list-item,
.draft-list .list-item {
  background: @background-primary;
  border-bottom: 1px solid @gray;
  padding: 7px 0;
}

.thread-list,
.draft-list {
  .unread:not(.focused):not(.selected):not(.next-is-selected) {
    border-bottom: 1px solid @gray;
  }

  .thread-icon.thread-icon-unread,
  .thread-icon.thread-icon-unread {
    display: none;
  }

  .focused .thread-icon,
  .focused .draft-icon,
  .focused .mail-important-icon {
    filter: none;
  }
}

.thread-list-narrow {

  .subject,
  .snippet-and-labels .snippet {
    font-size: 12.3px;
    line-height: normal;
  }
}