.preferences-wrap .container-preference-tabs {
  color: @gray-light;
}

.preferences-wrap .container-preference-tabs .preferences-tabs {
  padding-top: 0;
}

.preferences-wrap .container-preference-tabs .preferences-tabs .item {
  padding-top: 10px;
}

.preferences-wrap .container-preference-tabs .preferences-tabs .item.active {
  background: @background-dark;
}