.sheet-toolbar .item-back {
  .item-back-title {
    color: @gray;
  }

  img.content-mask {
    background: @gray;
  }
}

.preferences-wrap {
  .container-preference-tabs {
    color: @gray-light;

    .preferences-tabs {
      padding-top: 0;

      .item {
        padding-top: 10px;
      }

      .item.active {
        background: @background-dark;
      }
    }
  }
}