.column-RootSidebar,
.account-sidebar {
  background: @background;
}

.outline-view .item {
  color: #fff;
}

.outline-view .item img.content-mask {
  background-color: #fff;
}

.outline-view .heading {
  color: #dcdcdc;
}

.outline-view .item.selected {
  background: inherit;
}

.flexbox-handle-horizontal div {
  box-shadow: none;
}