.column-RootSidebar {
  background: @background;
  box-shadow: 0 0 4px rgba(4, 4, 4, 0.67);
  z-index: 1;
  font-family: @font;
}

.outline-view .item,
.outline-view .heading {
  color: @gray;
}

.outline-view .item img.content-mask {
  background-color: @gray;
}


.outline-view {
  .item.selected {
    color: @accent-primary;
  }

  .item.selected .item-count-box.alt-count,
  .item.selected .icon img.content-mask {
    background: @accent-primary;
  }
}

.flexbox-handle-horizontal div {
  box-shadow: none;
}