.sheet-toolbar {
  background: @background-dark;
  // display: flex;
  border-bottom: none !important;
  min-width: fit-content;
  overflow: hidden;
  padding: 15px 10px;
  max-height: initial;
  box-shadow: @shadow;
  min-height: fit-content;
}


.sheet-toolbar-container {
  height: 34px !important;
  width: inherit !important;
  position: relative !important;
  display: block;
  background: @background-dark  !important;
}

.toolbar-MessageListSidebar {
  right: 0;
  left: auto !important;
}

.toolbar-MessageList {
  padding-right: 20px;
}

.toolbar-RootSidebar,
.toolbar-ThreadList,
.toolbar-MessageList,
.toolbar-MessageListSidebar {
  height: 100%;
}