/*
Include the standard variables from Mailspring's base theme:
https://github.com/Foundry376/Mailspring/blob/master/app/static/style/base/ui-variables.less
*/
@import "base/ui-variables";

@font-face {
  font-family: @font;
  font-weight: 300;
  src: url();
}

@font: 'Google Sans';

@gray: #dcdcdc;
@gray-light: lighten(@gray, 12%);
@white: #fff;

@accent-primary: #50CEFF;
@accent-primary-dark: darken(@accent-primary, 30%);

@background-primary: #fff;
@background-off-primary: #f1f1f1;
@background-secondary: #fff;
@background-tertiary: #f3f3f3;

@border-color-primary: darken(@background-primary, 5%);
@border-color-secondary: lighten(@background-secondary, 10%);
@border-color-tertiary: lighten(@background-tertiary, 10%);
@border-color-divider: @border-color-secondary;

@text-color: #646464;
@text-color-subtle: fadeout(@text-color, 20%);
@text-color-very-subtle: fadeout(@text-color, 40%);
@text-color-inverse: white;
@text-color-inverse-subtle: fadeout(@text-color-inverse, 20%);
@text-color-inverse-very-subtle: fadeout(@text-color-inverse, 50%);
@text-color-heading: #fff;

@text-color-link: @accent-primary;
@text-color-link-hover: @accent-primary-dark;
@text-color-link-active: @accent-primary-dark;

@btn-default-bg-color: lighten(@background-primary, 5%);
@dropdown-default-bg-color: #f3f3f3;

@input-bg: #fff;
@input-border: @border-color-divider;

@list-bg: #fff;
@list-border: #383838;
@list-selected-color: @text-color-inverse;
@list-focused-color: @text-color;

@toolbar-background-color: @background;
@panel-background-color: #105B9E;

@background: #08355D;
@background-dark: #0A3D6B;


@shadow: 0 0px 0px rgba(4, 4, 4, 0.4);